<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="QR-Board - это бесплатная доска объявлений в формате QR-кода. Вы можете разместить своё объявление в популярных QR-code форматах - географические координаты, визитка VCard, ссылка на YouTube - канал, подключение к Wi-Fi, ссылка на интернет-ресурс и других.">
    <meta name="keywords" content="доска бесплатных объявлений, бесплатная доска объявлений, как получить qr код, qr код онлайн, йк код сделать онлайн">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/ico" href="favicon.ico">
  </head>
  <body>
    <div id="q-app"></div>
  </body>
</html>
